In [13]:
import sqlite3
import shutil
import os

In [14]:
# create database
db_file = "/content/hollywood.db"
conn = sqlite3.connect(db_file)
cur = conn.cursor()

In [15]:
# create tables
cur.execute("""
CREATE TABLE IF NOT EXISTS Movies (
    movie_id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    release_year INTEGER,
    genre TEXT,
    box_office_million REAL
);
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS Actors (
    actor_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    birth_year INTEGER
);
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS Directors (
    director_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    birth_year INTEGER
);
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS Movie_Actors (
    movie_id INTEGER,
    actor_id INTEGER,
    role TEXT,
    PRIMARY KEY (movie_id, actor_id),
    FOREIGN KEY (movie_id) REFERENCES Movies(movie_id),
    FOREIGN KEY (actor_id) REFERENCES Actors(actor_id)
);
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS Movie_Directors (
    movie_id INTEGER,
    director_id INTEGER,
    PRIMARY KEY (movie_id, director_id),
    FOREIGN KEY (movie_id) REFERENCES Movies(movie_id),
    FOREIGN KEY (director_id) REFERENCES Directors(director_id)
);
""")
conn.commit()

In [16]:


tables_to_clear = ["Movie_Actors", "Movie_Directors", "Movies", "Actors", "Directors"]
for table in tables_to_clear:
    cur.execute(f"DELETE FROM {table};")
conn.commit()

In [17]:
# insert sample data
movies = [
    ('Avengers: Endgame', 2019, 'Action', 2798),
    ('Inception', 2010, 'Sci-Fi', 829),
    ('Titanic', 1997, 'Romance', 2187),
    ('The Dark Knight', 2008, 'Action', 1005),
    ('Avatar', 2009, 'Sci-Fi', 2847)
]

actors = [
    ('Robert Downey Jr.', 1965),
    ('Chris Evans', 1981),
    ('Leonardo DiCaprio', 1974),
    ('Kate Winslet', 1975),
    ('Christian Bale', 1974)
]

directors = [
    ('Anthony Russo', 1970),
    ('Joe Russo', 1971),
    ('Christopher Nolan', 1970),
    ('James Cameron', 1954)
]

movie_actors = [
    (1, 1, 'Iron Man'),
    (1, 2, 'Captain America'),
    (2, 3, 'Dom Cobb'),
    (3, 3, 'Jack Dawson'),
    (3, 4, 'Rose DeWitt'),
    (4, 5, 'Bruce Wayne'),
    (5, 3, 'Jake Sully')
]

movie_directors = [
    (1, 1),
    (1, 2),
    (2, 3),
    (3, 4),
    (4, 3),
    (5, 4)
]

cur.executemany("INSERT INTO Movies (title, release_year, genre, box_office_million) VALUES (?, ?, ?, ?);", movies)
cur.executemany("INSERT INTO Actors (name, birth_year) VALUES (?, ?);", actors)
cur.executemany("INSERT INTO Directors (name, birth_year) VALUES (?, ?);", directors)
cur.executemany("INSERT OR IGNORE INTO Movie_Actors (movie_id, actor_id, role) VALUES (?, ?, ?);", movie_actors)
cur.executemany("INSERT OR IGNORE INTO Movie_Directors (movie_id, director_id) VALUES (?, ?);", movie_directors)

conn.commit()

In [18]:
tables = ["Movies", "Actors", "Directors", "Movie_Actors", "Movie_Directors"]

for table in tables:
    print(f"=== {table} ===")
    for row in cur.execute(f"SELECT * FROM {table};"):
        print(row)
    print("\n")

=== Movies ===
(16, 'Avengers: Endgame', 2019, 'Action', 2798.0)
(17, 'Inception', 2010, 'Sci-Fi', 829.0)
(18, 'Titanic', 1997, 'Romance', 2187.0)
(19, 'The Dark Knight', 2008, 'Action', 1005.0)
(20, 'Avatar', 2009, 'Sci-Fi', 2847.0)


=== Actors ===
(16, 'Robert Downey Jr.', 1965)
(17, 'Chris Evans', 1981)
(18, 'Leonardo DiCaprio', 1974)
(19, 'Kate Winslet', 1975)
(20, 'Christian Bale', 1974)


=== Directors ===
(13, 'Anthony Russo', 1970)
(14, 'Joe Russo', 1971)
(15, 'Christopher Nolan', 1970)
(16, 'James Cameron', 1954)


=== Movie_Actors ===
(1, 1, 'Iron Man')
(1, 2, 'Captain America')
(2, 3, 'Dom Cobb')
(3, 3, 'Jack Dawson')
(3, 4, 'Rose DeWitt')
(4, 5, 'Bruce Wayne')
(5, 3, 'Jake Sully')


=== Movie_Directors ===
(1, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 3)
(5, 4)

In [19]:
# Backup File
backup_file = "/content/hollywood_backup.db"
shutil.copyfile(db_file, backup_file)
print(f"Backup created at {backup_file}")

Backup created at /content/hollywood_backup.db

In [20]:
# Restore File
restore_file = "/content/hollywood_restore.db"
shutil.copyfile(backup_file, restore_file)
print(f"Database restored to {restore_file}")

conn.close()

Database restored to /content/hollywood_restore.db